h1 {
	color: black;
	font-size:25px;
	text-align:center;
	}
html, body {
	background-image: src="picasso.jpg";
	font-family: TImes New Roman;
}
p {
	font-size: 20px;
	text-align:center;
}
.button {
    background-color: black;
    border: none;
    color: white;
	cursor: pointer;
    display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	padding: 40px 80px;
    text-align: center;
    text-decoration: none;
}
