h1 {
	color: black;
	font-size:25px;
	text-align:center;
	}
html, body {
	background-image: url("images/picasso.jpg");
	font-family: Times New Roman;
}
p {
	font-size: 20px;
	text-align:center;
}
ul#readinglogs li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
header, footer {
  width: 100%;
  display: block;
  height: 150px;
  margin-bottom: 5rem;
}
